<!DOCTYPE html>
<html


<head>
</head>

<body>
<h1> Welcome to DataSink, insert something to track in the form below </h1>
<form action="." method="post">{%csrf_token%}

	<input type="text" name='query' placeholder="Hashtags to track..." required>
	<input type="button" value="Search">
</form>

<p>Showing results for:</p>
<table border="1">

{% for tracking in track_terms %}
	<tr>
		<td>{{tracking}}</td>
			<td><form action="." method="post">{%csrf_token%}
				<input type="submit" name="delete"value="{{tracking}}">
				</form>
			</td>
{%empty%}
		<td>sorry, nothing working mate</td>
{% endfor %}
	</tr>
</table>

<table border="1">
{% for tweet in results %}
	<tr><td>{{tweet}}</td></tr>
{%empty%}
	<tr>sorry, no return</tr>
{% endfor %}
</table>
<script>
setInterval(reloadResults(), 6000);

</script>
</body>


</html>
