<!DOCTYPE html>
<html>
<head>
<title>
Twitter Searcher
</title>
{% load static%}
<link rel="stylesheet" type="css" href= "{%static 'css\style.css '%}">
<link rel="stylesheet" type="css" href="{%static 'css\libs\bootstrap-3.3.6-dist\bootstrap-3.3.6-dist\css\bootstrap.min.css'%}">
</head>

<body>
<h1> Welcome to DataSink, insert something to track in the form below. </h1>
<form class="form-horizontal" action="." method="post">{%csrf_token%}
	<div class="form-group">
		 <label class="col-sm-2 control-label">Hashtags</label>
		<div class="col-sm-5">
      <input type="text" class="form-control" name="query" placeholder="Hashtags to track..." required>
	<input type="submit" class="btn btn-default" value="Search">
		</div>
	</div>
</form>

<p>Showing results for:</p>
<table class="table">
  {% for tracking in track_terms %}
<tr>
<td>{{tracking}}</td>
<td><form action="." method="post">{%csrf_token%}
	<input type="submit" name="delete"value="{{tracking}}">
</form></td>
{%empty%}
<td>sorry, nothing working mate</td>
{% endfor %}
</tr>
</table>



<p>
<table border="1">
{% for tweet in results %}
<tr><td>{{tweet}}</td></tr>
{%empty%}
<tr>sorry, no return</tr>
{% endfor %}
</table>

</body>


</html>
